certifi==2026.7.22
clickhouse-connect==0.15.1
lz4==4.4.5
numpy==2.0.2
pandas==2.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2026.3.post1
six==1.17.0
tzdata==2026.3
urllib3==2.6.3
zstandard==0.25.0
